<%- include("./partials/header") %>

<div class="container spacing">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-tutorial-tab" data-toggle="pill" href="#v-pills-tutorial"
                    role="tab" aria-controls="v-pills-tutorial" aria-selected="true">Video Tutorial</a>
                <a class="nav-link" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab"
                    aria-controls="v-pills-about" aria-selected="false">About</a>
                <a class="nav-link" id="v-pills-instructions-tab" data-toggle="pill" href="#v-pills-instructions"
                    role="tab" aria-controls="v-pills-instructions" aria-selected="false">Instructions</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-tutorial" role="tabpanel"
                    aria-labelledby="v-pills-tutorial-tab">

                </div>
                <div class="tab-pane fade" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                    <h4 style="text-align: center;">About Game</h4>
                    <p style="text-align: justify;">GamEco that simulates economic decision-making taking place in a
                        company has been developed for a course on engineering economics as a semester long-project.
                        GamEco’s object is not just to help students to learn engineering economics principles, but also
                        helps to use these principles in a competitive environment to make practical economic decisions.
                        In this simulation game, every student starts with an equal amount of money, and presented with
                        a list of investment opportunities. Students use the principles that learned during lessons to
                        decide on possible investments. Further investment opportunities are designed to be provided
                        every week over the semester, and the necessary analysis will become ever more complex as the
                        knowledge base of students increases.
                    </p>
                    <p style="text-align: justify;">The practical aim of engineering economics is to allow the engineer
                        to take reasonable investments. The game fulfills the functions of typical homework problems,
                        but it has other goals, and benefits like establishing a framework for active material learning.
                        Students must not only study different techniques of economic analysis, but also have to decide
                        which are most suitable for that particular situation. It also creates a friendly, comfortable
                        and casual classroom atmosphere that is also educational.
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-instructions" role="tabpanel"
                    aria-labelledby="v-pills-instructions-tab">

                    <h2 style="text-align: center;">Welcome to business!</h2>
                    <p class="info">Here you are an industrial engineer in a company that just
                        constructed a new factory. With your wide wisdom, this factory will grow in a short time.
                        You will start your business with a certain amount of money, and you will be running the company
                        for the semester.
                        The stated goal is to finish the semester with the highest cash among your rivals. You will get
                        several investment
                        opportunities introduced weekly throughout the semester. Your primarily objective is to make
                        some good economic
                        decisions.
                    </p>
                    <p class="info">Get your id from your instructor, and start running your company!</p>
                    <p class="info">Below you will find some guidance about elements in the game. We included some tips
                        for you😉!</p>


                    <hr>
                    <h4>Leaderboard</h4>
                    <p class="info">Who is the winner of the week? How is your company doing? You can check your
                        situation from this section.</p>
                    <hr>
                    <h4>My Portfolio</h4>
                    <p class="info">First week of the game you will get some assets to choose. Choose the best option
                        for your company, otherwise the
                        game will randomly assign them for you! Your investments will start as gain profit invesments.
                        You can choose one or
                        more among them. Remember, once you choose an option, you won’t be able to change it after!
                        Later in the game you will get cost only investments. Here, you will choose just one of the
                        opportunities.
                        Eventually, you will deal with replacement analysis since your assets will start to get older.
                        Will you buy a new
                        one or will you decide to go with it?</p>
                    <hr>
                    <h4>Balance</h4>
                    <p class="info">After you finished the week, you can check your revenues, and expenses in this
                        section.</p>
                    <hr>
                    <h4>Bank</h4>
                    <h5>Bank Account</h5>
                    <p class="info">Well, this section is important. Except the decisions to make, you will find a great
                        opportunity to make extra
                        money; every end of the week place your money in your saving account -with no minimum or maximum
                        balance- for the
                        interest of that week.</p>
                    <p class="info">Are you short in money? You always have the option of borrowing money from bank. The
                        important thing here is the
                        interest. At top right you will see the interest rate for that moment, and the possibility for
                        it to get lower or
                        higher. Every 3 hour, the rate will change. You have to be alerted to choose the right time to
                        borrow money from the
                        bank.</p>
                    <h5>Take Loan</h5>
                    <p class="info">You have decided to take loan from bank. Here you can easily calculate your weekly
                        payments according to the amount
                        you want. You can not enter a number of term higher then the weeks left. If you have 5 weeks
                        left until the semester
                        ends, 5 is the highest number you can enter.</p>
                    <h5>Your Payments</h5>
                    <p class="info">Here you can find your payments, and credits. Every week there will be changes
                        according to your loans, and you can
                        see how many payments left for the future weeks.</p>
                    <hr>
                    <h4>Token</h4>
                    <p class="info">Here is the fun part. You can earn tokens from your instructor by being active in
                        the class. The better you show
                        yourself in class, the more token you can earn. By these tokens, you can choose the best option
                        for yourself like
                        getting discounts on costs or getting loans without any interest etc.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>




</div>

<%- include("./partials/footer") %>