<%- include("./partials/header") %>

<div class="container spacing">
    <p> <h2 style="text-align: center;">Welcome to business!</h2>  Here you are an industrial engineer in a company that just constructed a new factory. With your wide wisdom, this factory will grow in a short time. 
        You will start your business with a certain amount of money, and you will be running the company for the semester. The stated goal is to finish the semester with the highest cash among your rivals. You will get several investment opportunities introduced weekly throughout the semester. Your primarily objective is to make some good economic decisions. 
        Get your id from your instructor, and start running your company!
        Below you will find some guidance about elements in the game. We included some tips for you😉! 
        <hr>
        <h4>Leaderboard</h4>
        Who is the winner of the week? How is your company doing? You can check your situation from this section.
        <hr>
        <h4>My Portfolio</h4>
        First week of the game you will get some assets to choose. Choose the best option for your company, otherwise the game will randomly assign them for you! Your investments will start as gain profit invesments. You can choose one or more among them. Remember, once you choose an option, you won’t be able to change it after! 
        Later in the game you will get cost only investments. Here, you will choose just one of the opportunities. 
        Eventually, you will deal with replacement analysis since your assets will start to get older. Will you buy a new one or will you decide to go with it? 
        <hr><h4>Balance</h4>
        After you finished the week, you can check your revenues, and expanses in this section. <hr>
        <h4>Bank</h4>
        <h5>Bank Account</h5>
        
        Well, this section is important. Except the decisions to make, you will find a great opportunity to make extra money; every end of the week place your money in your saving account -with no minimum or maximum balance- for the  interest of that week.
        Are you short in money? You always have the option of borrowing money from bank. The important thing here is the interest. At top right you will see the interest rate for that moment, and the possibility for it to get lower or higher. Every 3 hour, the rate will change. You have to be alerted to choose the right time to borrow money from the bank.
        
        <hr><h5>Take Loan</h5>
        You have decided to take loan from bank. Here you can easily calculate your weekly payments according to the amount you want. You can not enter a number of term higher then the weeks left. If you have 5 weeks left until the semester ends, 5 is the highest number you can enter. 
        <hr><h5>Your Payments</h5>
        Here you can find your payments, and credits. Every week there will be changes according to your loans, and you can see how many payments left for the future weeks. 
        <hr><h4>Token</h4>
        Here is the fun part. You can earn tokens from your instructor by being active in the class. The better you show yourself in class, the more token you can earn. By these tokens, you can choose the best option for yourself like getting discounts on costs or getting loans without any interest etc.  
        </p><hr>
</div>

<%- include("./partials/footer") %>