<%- include("./partials/header") %>

    <div class="container d-flex" style="margin-right: auto;margin-left: auto;">
        <div class="jumbotron" style="padding-left: 32px;width: 820px;margin-right: auto;margin-left: auto;">
            <h1 style="margin-right: 0px;margin-left: 0px;padding-right: 0px;font-size: 44px;">Welcome!</h1>
            <p style="font-size: 19px;">For more information about the serious game, click the button below.</p>
            <p><a href="/instructions" class="btn btn-primary" role="button" style="color: rgb(255,255,255);font-size: 19px;padding: 8px 16px;">Start</a></p>
        </div>
    </div>
    
<%- include("./partials/footer") %>